body.guesty-overlay {
    overflow: hidden;
    height: 100vh;
}

.guesty-loading {
    position: relative;
    min-height: 200px;
}

.guesty-loading:before {
    content: "Loading listings...";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .6);
    color: #000;
    text-align: center;
    line-height: 100%;
    font-size: 32px;
}

.guesty-listing {
    width: 639px;
}

.guesty-listing.guesty-layout-box {
    width: 310px;
    display: inline-block;
    margin: 0 15px 25px;
}

.guesty-thumbnail img {
    max-width: 100%;
    width: 100%;
    height: auto;
}

.guesty-gallery {
    font-size: 0;
    margin-top: .5%;
}

.guesty-gallery img {
    cursor: pointer;
}

.guesty-gallery .guesty-gallery-3 img {
    display: inline-block;
    width: 32%;
    margin: 1%;
}

.guesty-gallery img:nth-child(3n+1) {
    margin-left: 0;
}

.guesty-gallery img:nth-child(3n) {
    margin-right: 0;
}

.guesty-layout-box .guesty-listing-box {
}

.guesty-layout-box .guesty-listing-box > a {
}

.guesty-layout-box .guesty-listing-box .guesty-thumbnail img {
    max-width: 100%;
    margin-bottom: 15px;
}

.guesty-layout-box .guesty-listing-box .guesty-box-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    font-size: 14px;
    color: #464646;
}

.guesty-layout-box .guesty-box-footer .guesty-footer-left {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    font-size: 14px;
    color: #464646;
    display: inline-block;
    min-width: 0px;
}

.guesty-layout-box .guesty-box-footer .guesty-footer-left h2 {
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0;
    font-size: 14px;
    font-weight: 700;
}

.guesty-layout-box .guesty-box-footer .guesty-footer-left .guesty-box-meta {
}

.guesty-layout-box .guesty-box-footer .guesty-footer-left .guesty-meta-guest-count {
}

.guesty-layout-box .guesty-box-footer .guesty-footer-left .guesty-separator {
}

.guesty-layout-box .guesty-box-footer .guesty-footer-left .guesty-meta-bedrooms-count {
}

.guesty-layout-box .guesty-box-footer .guesty-footer-right {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
}

.guesty-layout-box .guesty-box-footer .guesty-footer-right .guesty-price {
    line-height: 1;
}

.guesty-layout-box .guesty-box-footer .guesty-footer-right .guesty-price .guesty-price-from {
    margin-right: 8px;
}

.guesty-layout-box .guesty-box-footer .guesty-footer-right .guesty-price .guesty-price-qty {
    font-size: 40px;
}

.guesty-pagination {
    margin: 20px auto 0;
    text-align: center;
}

.guesty-pagination .guesty-pagination-item {
    display: inline-block;
    margin: 0 5px;
    padding: 0;
    border-radius: 50%;
    background: #fff;
    box-shadow: 1px 1px 5px #ccc;
    width: 32px;
    height: 32px;
    line-height: 32px;
    border: 0;
    text-align: center;
}

.guesty-pagination .guesty-pagination-item:hover {
    box-shadow: 0px 0px 15px #aaa;
}

.guesty-pagination .guesty-pagination-item.active {
    background: #000;
    color: #fff;
}

.guesty-single-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(255, 255, 255, .6);
    z-index: 9999;
    overflow: auto;
}

.guesty-single-container .guesty-property-single {
    max-width: 1136px;
    width: 100%;
    margin: 50px auto 0;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 14px -3px #40404087;
    border-radius: 10px;
    position: relative;
}

.guesty-property-single::before, .guesty-property-single::after {
    content: " ";
    display: table;
    clear: both;
    float: none;
}

.guesty-property-single .guesty-primary {
    width: 66.6666667%;
    float: left;
    padding: 0;
    height: 600px;
}

.guesty-property-single .guesty-secondary {
    width: 33.33333%;
    float: left;
    padding: 0 20px;
    background: #464646;
    color: #fff;
    height: 600px;
}

.guesty-property-single .guesty-gallery img {
    width: 15.83714056%;
    display: inline-block;
    margin: .5%;
}

.guesty-property-single .guesty-gallery img:nth-child(6n+1) {
    margin-left: 0;
}

.guesty-property-single .guesty-gallery img:nth-child(6n) {
    margin-right: 0;
}

.guesty-close {
    position: absolute;
    top: -24px;
    right: -24px;
}

.guesty-close a {
    display: inline-block;
    width: 48px;
    height: 48px;
    text-align: center;
    line-height: 48px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 0 18px -4px #a8a8a8;
    font-size: 50px;
    color: #999;
    transition: all .4s ease-in-out;
}

.guesty-close a:hover {
    color: #000;
    box-shadow: 0 0 20px -4px #232323;
}

.guesty-amenities {
    position: relative;
}

.guesty-amenities-container {
    height: 200px;
    overflow: hidden;
}

.guesty-amenities h3 {
    font-size: 20px;
    margin-bottom: 0;
    margin-top: 10px;
}

.guesty-amenities.open .guesty-amenities-container {
    height: auto;
}

.amenities-handle-more {
    display: block;
}

.amenities-handle-less {
    display: none;
}

.guesty-amenities.open .amenities-handle-more {
    display: none;
}

.guesty-amenities.open .amenities-handle-less {
    display: block;
}

.guesty-amenities-item {
    display: inline-block;
    width: 100%;
}

.guesty-amenities-item .amenity-name {
    font-size: 14px;
    margin-left: 10px;
}

.clearfix::after, .guesty-single-row::after {
    display: block;
    content: "";
    clear: both;
}

.guesty-single-row{
    max-width: 66.4989378333em;
    margin-left: auto;
    margin-right: auto;
    padding: 0 2.617924em;
    box-sizing: content-box;
}

.guesty-single-row.guesty-single-row-full{
    max-width: 100%;
    padding: 0;
}

.guesty-secondary-header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 14px;
    color: #fff;
}

.guesty-secondary-header-left,
.guesty-secondary-header-right{
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
}

.guesty-secondary-header-left{
    width: 70%;
}
.guesty-secondary-header-right{
    width:30%
}

.guesty-secondary-header-right p{
    margin:0;
}

.guesty-secondary-header-left h1{
    font-size: 26px;
    color:#fff;
}

.guesty-secondary-header-right .guesry-listing-price{
    font-size: 30px;
}

/*============================
* Carousel
==============================*/
.carousel {
    margin-left: 15%;
    margin-right: 15%;
}

ul.slides {
    display: block;
    position: relative;
    height: 600px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none;
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

ul.slides input {
    display: none;
}


.slide-container {
    display: block;
}

.slide-image {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;
    transition: all .7s ease-in-out;
}

.slide-image img {
    width: auto;
    min-width: 100%;
    height: 100%;
}

.carousel-controls {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    font-size: 100px;
    line-height: 600px;
    color: #fff;
}

.carousel-controls label {
    display: none;
    position: absolute;
    padding: 0 20px;
    opacity: 0;
    transition: opacity .2s;
    cursor: pointer;
}

.slide-image:hover + .carousel-controls label{
    opacity: 0.5;
}

.carousel-controls label:hover {
    opacity: 1;
}

.carousel-controls .prev-slide {
    width: 49%;
    text-align: left;
    left: 0;
}

.carousel-controls .next-slide {
    width: 49%;
    text-align: right;
    right: 0;
}

.carousel-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    z-index: 999;
    text-align: center;
}

.carousel-dots .carousel-dot {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.5;
    margin: 10px;
}

input:checked + .slide-container .slide-image {
    opacity: 1;
    transform: scale(1);
    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .carousel-controls label {
    display: block;
}

input:checked + .slide-container .nav label { display: block; }

/**** other styles ***/
.mb-lg-25 {
    margin-bottom: .71rem!important;
}

.mb-45 {
    margin-bottom: 2.1rem!important;
}

.mb-35 {
    margin-bottom: 1.4rem!important;
}

.mt-35 {
    margin-top: 1.4rem!important;
}

.separated-datepicker .DateRangePicker {
    display: block;
}

.DateRangePicker {
    position: relative;
    display: inline-block;
}

.DateRangePicker {
    width: 100%;
}

.separated-datepicker .DateRangePickerInput {
    display: -ms-flexbox;
    display: flex;
    border: none;
    background-color: transparent;
}

.DateRangePicker .DateRangePickerInput {
    width: 100%;
    background-color: hsla(0,0%,100%,.96);
    border: none;
    border-radius: 2px;
    color: #464646;
    text-align: center;
    padding: 0;
}
.DateRangePickerInput__withBorder {
    border: 1px solid #cacccd;
}
.DateRangePickerInput {
    background-color: #fff;
    display: inline-block;
}

.separated-datepicker .DateInput:first-child {
    margin-right: .71rem;
}

.separated-datepicker .DateInput {
    -ms-flex: 1 1 0%;
    flex: 1 1 0%;
    background-color: hsla(0,0%,100%,.95);
    border-radius: 2px;
}
.DateRangePicker .DateInput {
    background-color: transparent;
    font-weight: 300;
    color: #464646;
    line-height: 25px;
    cursor: pointer;
}
.DateInput {
    margin: 0;
    padding: 0;
    background: #fff;
    position: relative;
    display: inline-block;
    width: 130px;
    vertical-align: middle;
}

.DateRangePicker .DateInput input:not(.DateInput_input__disabled) {
    background: none;
    border: .5px solid transparent;
}

.DateRangePicker .DateInput .DateInput_input {
    padding-left: 20px;
    padding-top: 10px;
}
.DateRangePicker .DateInput input {
    border-radius: 2px;
    font-size: 16px;
}
.DateInput_input {
    font-weight: 200;
    font-size: 18px;
    line-height: 24px;
    color: #565a5c;
    background-color: #fff;
    width: 100%;
    padding: 13px 12px 11px;
    border: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 2px solid transparent;
    border-left: 0;
}

.DateInput_screenReaderMessage {
    border: 0;
    clip: rect(0,0,0,0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.DateRangePickerInput_clearDates__hide, .separated-datepicker .DateRangePickerInput_arrow {
    display: none;
}

svg:not(:root) {
    overflow: hidden;
}
.DateRangePickerInput_arrow_svg {
    vertical-align: middle;
    fill: #565a5c;
    height: 24px;
    width: 24px;
}

.Dropdown-root {
    position: relative;
    color: #464646;
}

.Dropdown-control {
    position: relative;
    overflow: hidden;
    background-color: hsla(0,0%,100%,.95);
    border-radius: 2px;
    cursor: pointer;
    outline: none;
    padding: 9px 52px 9px 20px;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

.Dropdown-placeholder {
    font-size: 16px;
}

.Dropdown-arrow {
    display: block;
    height: 8px;
    width: 13px;
    position: absolute;
    right: 20px;
    top: 22px;
    background-image: url(https://reserverentals.guestybookings.com/static/media/dropdown.32814f97.svg);
}

.d-block {
    display: block!important;
}

.d-block .btn.submit-btn.btn-primary {
    background: rgb(226, 36, 0);
}

.btn-primary.disabled, .btn-primary:disabled {
    background-color: #6ac1ff;
    border-color: #6ac1ff;
}
.btn.disabled, .btn:disabled {
    cursor: not-allowed;
    opacity: .65;
}
.submit-btn {
    height: 50px;
}
.btn-primary {
    color: #fff;
    background-color: #6ac1ff;
    border-color: #6ac1ff;
}
.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 0 solid transparent;
    padding: 1em;
    font-size: 14px;
    border-radius: 2px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}

#primary{
    width: 100%;
    max-width: 100%;
    padding: 0;
}