/* ====================
 * Presentation
 * ===================*/

.separator, .separator-black {
    border-bottom: 1px solid #ececec;
}

.separator-black {
    border-color: #333;
}

.mb-lg-25 {
    margin-bottom: .71rem !important;
}

.mb-5 {
    margin-bottom: 3rem !important;
}

.mb-45 {
    margin-bottom: 2.1rem !important;
}

.mb-35 {
    margin-bottom: 1.4rem !important;
}

.mt-35 {
    margin-top: 1.4rem !important;
}

.mb-2 {
    margin-bottom: .5rem !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mb-3 {
    margin-bottom: 1rem !important;
}

.mt-3 {
    margin-top: 1rem !important;
}

.pb-45 {
    padding-bottom: 2.1rem !important;
}

.pb-5 {
    padding-bottom: 3rem !important;
}

.pt-5 {
    padding-top: 3rem!important;
}

.p-sm-5 {
    padding: 3rem !important;
}

.p-5 {
    padding: 3rem !important;
}

.mr-4 {
    margin-right: 1.5rem !important;
}

.mt-sm-6 {
    margin-top: 5.7rem !important;
}

.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 0 solid transparent;
    padding: 1em;
    font-size: 14px;
    border-radius: 2px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.btn-primary {
    color: #fff;
    background-color: #6ac1ff;
    border-color: #6ac1ff;
}

.btn-primary.disabled, .btn-primary:disabled {
    background-color: #6ac1ff;
    border-color: #6ac1ff;
}

.btn.disabled, .btn:disabled {
    cursor: not-allowed;
    opacity: .65;
}

.btn-link {
    font-weight: 400;
    color: #6ac1ff;
    border-radius: 0;
}

.btn-link, .btn-link.active, .btn-link:active, .btn-link:disabled {
    background-color: transparent;
}

.btn-link, .btn-link:active, .btn-link:focus, .btn-link:hover {
    border-color: transparent;
}

.icon-label.contained {
    height: 100%;
}

.icon-label.contained .icon-wrap {
    -ms-flex: 1 1 0%;
    flex: 1 1 0%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.wide {
    letter-spacing: .3px;
}

.line-height-12 {
    line-height: 1.2;
}

.text-center {
    text-align: center !important;
}

.d-block {
    display: block !important;
}

.d-flex {
    display: -ms-flexbox !important;
    display: flex !important;
}

.d-sm-inline {
    display: inline !important;
}

.align-items-center {
    -ms-flex-align: center !important;
    align-items: center !important;
}

.flex-column {
    -ms-flex-direction: column !important;
    flex-direction: column !important;
}

.float-right {
    float: right !important;
}

.bg-faded-2 {
    background-color: #fafafa;
}

img {
    vertical-align: middle;
    border-style: none;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1em;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

.h5, h5 {
    font-size: 14px;
}

h6 {
    font-weight: 500;
}

.h6, h6 {
    font-size: 1rem;
}

.px-5 {
    padding-right: 3rem !important;
}

.pl-5, .px-5 {
    padding-left: 3rem !important;
}

.h6-text {
    line-height: 1.7;
}

.white-space-pre-wrap {
    white-space: pre-wrap;
}

/* ====================
 * Grid
 * ===================*/

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    position: relative;
    width: 100%;
    min-height: 1px;
}

.col-sm {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}

.col-xl {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}

.col-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.amenity-col {
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

/* ========================
 * custom design styles
 * ========================*/

body.guesty-overlay {
    overflow: hidden;
    height: 100vh;
}

.guesty-loading {
    position: relative;
    min-height: 200px;
}

.guesty-loading:before {
    content: "Loading listings...";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .6);
    color: #000;
    text-align: center;
    line-height: 100%;
    font-size: 32px;
}

.guesty-listing {
    width: 639px;
}

.guesty-listing.guesty-layout-box {
    width: 310px;
    display: inline-block;
    margin: 0 15px 25px;
}

.guesty-thumbnail img {
    max-width: 100%;
    width: 100%;
    height: auto;
}

.guesty-gallery {
    font-size: 0;
    margin-top: .5%;
}

.guesty-gallery img {
    cursor: pointer;
}

.guesty-gallery .guesty-gallery-3 img {
    display: inline-block;
    width: 32%;
    margin: 1%;
}

.guesty-gallery img:nth-child(3n+1) {
    margin-left: 0;
}

.guesty-gallery img:nth-child(3n) {
    margin-right: 0;
}

.guesty-layout-box .guesty-listing-box {
}

.guesty-layout-box .guesty-listing-box > a {
}

.guesty-layout-box .guesty-listing-box .guesty-thumbnail img {
    max-width: 100%;
    margin-bottom: 15px;
}

.guesty-layout-box .guesty-listing-box .guesty-box-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    font-size: 14px;
    color: #464646;
}

.guesty-layout-box .guesty-box-footer .guesty-footer-left {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    font-size: 14px;
    color: #464646;
    display: inline-block;
    min-width: 0px;
}

.guesty-layout-box .guesty-box-footer .guesty-footer-left h2 {
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0;
    font-size: 14px;
    font-weight: 700;
}

.guesty-layout-box .guesty-box-footer .guesty-footer-left .guesty-box-meta {
}

.guesty-layout-box .guesty-box-footer .guesty-footer-left .guesty-meta-guest-count {
}

.guesty-layout-box .guesty-box-footer .guesty-footer-left .guesty-separator {
}

.guesty-layout-box .guesty-box-footer .guesty-footer-left .guesty-meta-bedrooms-count {
}

.guesty-layout-box .guesty-box-footer .guesty-footer-right {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
}

.guesty-layout-box .guesty-box-footer .guesty-footer-right .guesty-price {
    line-height: 1;
}

.guesty-layout-box .guesty-box-footer .guesty-footer-right .guesty-price .guesty-price-from {
    margin-right: 8px;
}

.guesty-layout-box .guesty-box-footer .guesty-footer-right .guesty-price .guesty-price-qty {
    font-size: 40px;
}

.guesty-pagination {
    margin: 20px auto 0;
    text-align: center;
}

.guesty-pagination .guesty-pagination-item {
    display: inline-block;
    margin: 0 5px;
    padding: 0;
    border-radius: 50%;
    background: #fff;
    box-shadow: 1px 1px 5px #ccc;
    width: 32px;
    height: 32px;
    line-height: 32px;
    border: 0;
    text-align: center;
}

.guesty-pagination .guesty-pagination-item:hover {
    box-shadow: 0px 0px 15px #aaa;
}

.guesty-pagination .guesty-pagination-item.active {
    background: #000;
    color: #fff;
}

.guesty-single-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(255, 255, 255, .6);
    z-index: 9999;
    overflow: auto;
}

.guesty-single-container .guesty-property-single {
    max-width: 1136px;
    width: 100%;
    margin: 50px auto 0;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 14px -3px #40404087;
    border-radius: 10px;
    position: relative;
}

.guesty-property-single::before, .guesty-property-single::after {
    content: " ";
    display: table;
    clear: both;
    float: none;
}

.guesty-property-single .guesty-primary {
    width: 66.6666667%;
    float: left;
    padding: 0;
    height: 500px;
}

.guesty-property-single .guesty-secondary {
    width: 33.33333%;
    float: left;
    padding: 0 20px;
    background: #464646;
    color: #fff;
    height: 500px;
}

.guesty-property-single .guesty-gallery img {
    width: 15.83714056%;
    display: inline-block;
    margin: .5%;
}

.guesty-property-single .guesty-gallery img:nth-child(6n+1) {
    margin-left: 0;
}

.guesty-property-single .guesty-gallery img:nth-child(6n) {
    margin-right: 0;
}

.guesty-close {
    position: absolute;
    top: -24px;
    right: -24px;
}

.guesty-close a {
    display: inline-block;
    width: 48px;
    height: 48px;
    text-align: center;
    line-height: 48px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 0 18px -4px #a8a8a8;
    font-size: 50px;
    color: #999;
    transition: all .4s ease-in-out;
}

.guesty-close a:hover {
    color: #000;
    box-shadow: 0 0 20px -4px #232323;
}

.guesty-amenities {
    position: relative;
}

.guesty-amenities-container {
    height: 200px;
    overflow: hidden;
}

.guesty-amenities h3 {
    font-size: 20px;
    margin-bottom: 0;
    margin-top: 10px;
}

.guesty-amenities.open .guesty-amenities-container {
    height: auto;
}

.amenities-handle-more {
    display: block;
}

.amenities-handle-less {
    display: none;
}

.guesty-amenities.open .amenities-handle-more {
    display: none;
}

.guesty-amenities.open .amenities-handle-less {
    display: block;
}

.guesty-amenities-item {
    display: inline-block;
    width: 100%;
}

.guesty-amenities-item .amenity-name {
    font-size: 14px;
    margin-left: 10px;
}

.clearfix::after, .guesty-single-row::after {
    display: block;
    content: "";
    clear: both;
}

.guesty-single-row {
    max-width: 66.4989378333em;
    margin-left: auto;
    margin-right: auto;
    padding: 0 2.617924em;
    box-sizing: content-box;
}

.guesty-single-row.guesty-single-row-full {
    max-width: 100%;
    padding: 0;
}

.guesty-secondary-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 14px;
    color: #fff;
    justify-content: space-between;
    padding: 30px 0;
}

.guesty-secondary-header-left,
.guesty-secondary-header-right {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
}

.guesty-secondary-header-left {
    max-width: 75%;
}

.guesty-secondary-header-right {
    text-align: center;
}

.guesty-secondary-header-right p {
    margin: 10px 0 0;
    line-height: 24px;
}

.guesty-secondary-header-left h1 {
    font-size: 30px;
    color: #fff;
    margin: 0;
}

.guesty-secondary-header-right .guesry-listing-price {
    font-size: 30px;
    line-height: 24px;
}

.listing-general-info-item {
    width: 91px;
}

.listing-address .icon-wrap {
    padding-top: 5px;
}

.guesty-amenities .guesty-amenities-block {
    height: 300px;
    overflow: hidden;
}

.guesty-amenities.open .guesty-amenities-block {
    height: auto;
}

/*============================
* Carousel
==============================*/
.carousel {
    margin-left: 15%;
    margin-right: 15%;
}

ul.slides {
    display: block;
    position: relative;
    height: 500px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none;
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

ul.slides input {
    display: none;
}

.slide-container {
    display: block;
}

.slide-image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;
    transition: all .7s ease-in-out;
    display: flex;
    align-items: center;
}

.slide-image img {
    width: 100%;
    min-width: 100%;
    height: auto;
    position: absolute;
}

.carousel-controls {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    font-size: 100px;
    line-height: 500px;
    color: #fff;
}

.carousel-controls label {
    display: none;
    position: absolute;
    padding: 0 20px;
    opacity: 0;
    transition: opacity .2s;
    cursor: pointer;
}

.slide-image:hover + .carousel-controls label {
    opacity: 0.5;
}

.carousel-controls label:hover {
    opacity: 1;
}

.carousel-controls .prev-slide {
    width: 49%;
    text-align: left;
    left: 0;
}

.carousel-controls .next-slide {
    width: 49%;
    text-align: right;
    right: 0;
}

.carousel-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    z-index: 999;
    text-align: center;
}

.carousel-dots .carousel-dot {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.5;
    margin: 10px;
}

input:checked + .slide-container .slide-image {
    opacity: 1;
    transform: scale(1);
    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .carousel-controls label {
    display: block;
}

input:checked + .slide-container .nav label {
    display: block;
}

/**** other styles ***/

.DateRangePicker {
    position: relative;
    display: inline-block;
    width: 100%;
}

.DateRangePickerInput__withBorder {
    border: 1px solid #cacccd;
}

.DateRangePickerInput {
    background-color: #fff;
    display: inline-block;
}

.DateRangePicker .DateRangePickerInput {
    width: 100%;
    background-color: hsla(0, 0%, 100%, .96);
    border: none;
    border-radius: 2px;
    color: #464646;
    text-align: center;
    padding: 0;
}

.DateRangePicker .DateInput {
    background-color: transparent;
    font-weight: 300;
    color: #464646;
    line-height: 25px;
    cursor: pointer;
}

.DateInput {
    margin: 0;
    padding: 0;
    background: #fff;
    position: relative;
    display: inline-block;
    width: 130px;
    vertical-align: middle;
}

.DateRangePicker .DateInput input:not(.DateInput_input__disabled) {
    background: none;
    border: .5px solid transparent;
}

.DateRangePicker .DateInput .DateInput_input {
    padding-left: 20px;
    padding-top: 10px;
}

.DateRangePicker .DateInput input {
    border-radius: 2px;
    font-size: 16px;
}

.DateInput_input {
    font-weight: 200;
    font-size: 18px;
    line-height: 24px;
    color: #565a5c;
    background-color: #fff;
    width: 100%;
    padding: 13px 12px 11px;
    border: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 2px solid transparent;
    border-left: 0;
}

.DateInput_screenReaderMessage {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.DateRangePickerInput_clearDates__hide, .separated-datepicker .DateRangePickerInput_arrow {
    display: none;
}

svg:not(:root) {
    overflow: hidden;
}

.DateRangePickerInput_arrow_svg {
    vertical-align: middle;
    fill: #565a5c;
    height: 24px;
    width: 24px;
}

.separated-datepicker .DateRangePickerInput {
    display: -ms-flexbox;
    display: flex;
    border: none;
    background-color: transparent;
}

.separated-datepicker .DateRangePicker {
    display: block;
}

.separated-datepicker .DateInput {
    -ms-flex: 1 1 0%;
    flex: 1 1 0%;
    background-color: hsla(0, 0%, 100%, .95);
    border-radius: 2px;
}

.separated-datepicker .DateInput:first-child {
    margin-right: .71rem;
}

.Dropdown-root {
    position: relative;
    color: #464646;
}

.Dropdown-control {
    position: relative;
    overflow: hidden;
    background-color: hsla(0, 0%, 100%, .95);
    border-radius: 2px;
    cursor: pointer;
    outline: none;
    padding: 9px 52px 9px 20px;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

.Dropdown-placeholder {
    font-size: 16px;
}

.Dropdown-arrow {
    display: block;
    height: 8px;
    width: 13px;
    position: absolute;
    right: 20px;
    top: 22px;
    background-image: url(https://reserverentals.guestybookings.com/static/media/dropdown.32814f97.svg);
}

.Dropdown-menu {
    background-color: hsla(0,0%,100%,.95);
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.06);
    box-shadow: 0 1px 0 rgba(0,0,0,.06);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 4px;
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 1000;
    -webkit-overflow-scrolling: touch;
}

.Dropdown-option {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: rgba(51,51,51,.8);
    cursor: pointer;
    display: block;
    padding: 8px 20px;
}

.Dropdown-root .Dropdown-menu{
    display:none;
}

.Dropdown-root.open .Dropdown-menu{
    display:block;
}

.d-block .btn.submit-btn.btn-primary {
    background: rgb(226, 36, 0);
}

.submit-btn {
    height: 50px;
}

.listing-page-section {
    -webkit-transition: max-height .3s;
    -o-transition: max-height .3s;
    transition: max-height .3s;
    overflow: hidden;
}

.listing-page-section h5 {
    font-size: 14px;
    font-weight: 700;
}

.listing-page-section .h6-text {
    font-weight: 700;
    margin-top: 0;
    font-size: 14px;
}

.listing-page-section p{
    margin-bottom: 14px;
}

.listing-page-sep{
    margin-bottom: 14px;
}

.guesty-houserules .listing-page-section{
    height: 280px;
    overflow: hidden;
}
.guesty-houserules.open .listing-page-section{
    height: auto;
}

.houserules-handle-more {
    display: block;
}

.houserules-handle-less {
    display: none;
}

.guesty-houserules.open .houserules-handle-more {
    display: none;
}

.guesty-houserules.open .houserules-handle-less {
    display: block;
}

.date-picker-wrapper.no-shortcuts.no-gap {
    z-index: 9999;
}

/* ====================
 * Special overrides
 * ===================*/

#primary {
    width: 100%;
    max-width: 100%;
    padding: 0;
}